.manifesto-grid {
    display: grid;
    grid-template-columns: max-content 2fr;
    gap: 4px;
}
.manifesto-words {
    display:flex;
    justify-content:left;
    font-family:'Anton',sans-serif;
    font-size:100px;
    font-weight: 400;
    letter-spacing:1px;
    line-height:120px;
    margin-top:20px;
    padding-left: 70px;
    padding-top: 0px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.manifesto-copy {
    max-width:480px;
    margin-left:auto;
    padding-top:20px;
}
.manifesto-copy p {
    margin-bottom:25px;
}
